<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Gruppe 23</title>
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/mystyle.css">
</head>
<body>
	<div class="container">
		<div class="top_bar">
			<h1>Yey gruppe 23</h1>
		</div>

		<div class="page">
			<div class="main">
				<div class="text">
					<h1>Om oss</h1>
					<p>Bla bla bla test </p>
				</div>
				<div class="text">
					<h3>Lots of bullshit</h3>
					<p>Client focus is a matter of speed of action.
					The profit-maximizing, streamlining and new-generation alternatives seamlessly cultivate information-age, hands-on, erformance cultures. The stakeholders iterate our brand images using our atmospheres.
					The clients co-develop an integrity across and beyond the organizations.
					There is no alternative to target.
					Our value-driven and cross-industry organizing principles promote carefully thought-out dotted lines.
					Actually, the pioneers productize learnings.</p>
				</div>
			</div>
		</div>

	</div>
</body>
</html>