body {
	font-family: Helvetica, Verdana, sans-serif;
}

.container {
	max-width: 1200px;
	background-color:#FFF;
	margin: 40px auto 0 auto;
	line-height: 1.65; 
	display: flex;
	flex-direction: column;
}

.page{
	display: flex;	flex: 1;
	order: 1;
}

.top_bar{
	background-color: #cccccc;
	display: flex;
	text-align: center;
	justify-content: center;

}

.main{
	flex: 3;
	order: 1;
	display: flex;
	align-items: center;
    flex-direction: column;
}

}

.main img{
	align-items: center;
}

.text {
	display: flex;
	text-align: center;
	justify-content: center;
    flex-direction: column;
}

.sidebar {
	background-color: #d8d8d8;
	flex: 1;
	order: 2;
}



.sidebar ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}

.sidebar h3 {
	text-align: center;
	justify-content: center;
}
 
.sidebar h4 {
	text-align: center;
	justify-content: center;
}
 
.sidebar li p{

	text-align: center;
	justify-content: center;
	display: none;
	padding-left: 10px;
	padding-right: 10px;
}
 
.sidebar li:hover > p {
	display: block;
}
 
.sidebar li {
	display: flex;
	flex-direction: column;
}
 
.sidebar li:hover {
	background: #eee;
	cursor: pointer;
}